@{
    ViewData["Title"] = "Gebruiker scherm";
}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div BtnCrud>
        <div class="col">
            <div class="mb-5">
                <a asp-controller="Status" asp-action="Index" class="btn btn-primary btn-lg mb-2" role="button">Naar status pagina</a>
            </div>
            <div class="mb-5">
                <a asp-controller="TV" asp-action="Index" class="btn btn-primary btn-lg mb-2" role="button">Naar tv pagina</a>
            </div>            
        </div>
    </div>
</div>